In [3]:
from chess_board_calibration import perform_calibration

In [2]:
intrinsics, extrinsics, size, points, _, _ = perform_calibration( r"data/basement_1/images/*.JPG", 7, 4, 0.0885, 'data/basement_1/chessboard_calib/corners.h5', 'data/basement_1/chessboard_calib/calib.h5', 0.25)

In [3]:
intrinsics

,fx,fy,cx,cy,k1,k2,p1,p2,k3
value,1028.450823,1028.450823,992.663031,667.801079,-0.082637,0.054347,-0.000641,-0.000084,-0.006835
stddev,0.000000,2.819293,2.002667,1.959504,0.002857,0.006062,0.000381,0.000460,0.004138

In [4]:
extrinsics.describe()

,tx,ty,tz,rx,ry,rz,stddev_tx,stddev_ty,stddev_tz,stddev_rx,stddev_ry,stddev_rz,rpe
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,-0.033592,-0.023454,1.786615,-0.444576,-0.022131,0.231536,0.003788,0.003668,0.005934,0.003671,0.003575,0.001717,0.379774
std,0.691558,0.557417,0.505918,0.279467,0.823570,1.707963,0.001080,0.001043,0.001828,0.000669,0.000729,0.000769,0.241460
min,-1.150872,-1.069051,0.694568,-1.066967,-1.656232,-2.811863,0.001459,0.001467,0.002270,0.002347,0.002253,0.000440,0.062601
25%,-0.588243,-0.399105,1.449421,-0.645973,-0.752625,-1.325694,0.003134,0.002918,0.004425,0.003311,0.003219,0.001270,0.138035
50%,-0.182211,-0.028109,1.986582,-0.464276,0.029409,0.390924,0.004340,0.004155,0.006613,0.003667,0.003595,0.001580,0.383615
75%,0.587579,0.391436,2.139613,-0.260113,0.594802,1.485029,0.004476,0.004334,0.007226,0.004271,0.004100,0.002383,0.571927
max,1.567825,1.012547,2.440553,0.087755,1.584688,2.940550,0.004809,0.004768,0.008164,0.004741,0.005009,0.003012,0.898621

In [5]:
size

width     1988
height    1326
dtype: int64

In [6]:
points

                                                  img_pt_x     img_pt_y  \
image_file                          point_idx
data/basement_1/images\STL03969.JPG 0           286.625885  1071.117065
                                    1           329.716309  1027.924438
                                    2           369.800903   986.515076
                                    3           407.283752   948.112610
                                    4           441.581970   912.179321
...                                                    ...          ...
data/basement_1/images\STL04030.JPG 23          804.355774   561.568298
                                    24          926.759583   562.422058
                                    25         1049.188599   563.541565
                                    26         1170.509888   564.810730
                                    27         1290.151123   566.335144

                                               obj_pt_x  obj_pt_y  obj_pt_z
image_file                          point_idx
data/basement_1/images\STL03969.JPG 0            0.0000    0.0000       0.0
                                    1            0.0885    0.0000       0.0
                                    2            0.1770    0.0000       0.0
                                    3            0.2655    0.0000       0.0
                                    4            0.3540    0.0000       0.0
...                                                 ...       ...       ...
data/basement_1/images\STL04030.JPG 23           0.1770    0.2655       0.0
                                    24           0.2655    0.2655       0.0
                                    25           0.3540    0.2655       0.0
                                    26           0.4425    0.2655       0.0
                                    27           0.5310    0.2655       0.0

[1680 rows x 5 columns]

In [8]:
corner_images = []

In [9]:
intrinsics, extrinsics, size, points, _, _ = perform_calibration( r"data/basement_1/images/*.JPG", 7, 4, 0.0885, image_scaling=0.25, corner_images=corner_images)

data/basement_1/images\STL04007.JPG failed
data/basement_1/images\STL04031.JPG failed

In [13]:
corner_images

[]